<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dasboard</title>
</head>
<body> 
    <h1>this is dashboard</h1>
    <h3>Welcome <%= user.username %> to Mini Social App</h3>
    <a href="/post">Make A Post</a><br><br>
    <a href="/myPost">My Post</a><br>
    <a href="/">Home</a><br>
    <a href="/logout">logout</a>
</body>
</html>