<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is a simple social media app</h1>
    <p>explore using the link below to sign up or sign in</p>
    <p>you can comment  and like people posts without logging in or signing up</p>

    <a href="/login">Sign-in</a>
    <a href="/signup">sign-up</a>
</body>
</html>