<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>login in</title>
</head>
<body>
    <h1>Login Here</h1>
    <p>login with you email and password to access the dashboard</p>
    <form action="/login" method="POST">
        
        <label for="email">Email Address</label><br>

        <input type="email" name="email" id=""><br>

        <label for="password">Password</label><br>

        <input type="password" name="password" id=""><br>

        <button type="submit">Login</button>
    </form>
    <p>I dont have account yet? <a href="/signup">Sign Up</a></p>
    <p>Home Page <a href="/"> Click Here</a></p>
</body>
</html>