<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my posts</title>
</head>
<body>
    <h1>all your posts are display here</h1>
</body>
</html>