<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Make Post</title>
</head>
<body>
    <h1>Make A Post Now</h1>
    <a href="/dashboard">Go To Dashboard</a>

    <form action="/createPost" enctype="multipart/form-data" method="POST" >
        <label for="title">Post Title</label><br>
        <input type="text" name="title" id=""><br>
        <label for="post">Post</label><br>
        <textarea name="post" id="" cols="70" rows="10"></textarea><br>
        <label for="image">Image</label><br>
        <input type="file" name="file" id=""><br>

        <button type="submit">CREATE POST</button>
    </form>

</body>
</html>