<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign un</title>
</head>
<body>
    <h1>signup Page</h1>
    <form action="/signup" method="POST">
        <label for="email">Email Address</label><br>
        <input type="email" name="email" id="email"><br>

        <label for="username">User Name</label><br>
        <input type="text" name="username" id="username"><br>

        <label for="password">Password</label><br>
        <input type="password" name="password" id="password"><br>

        <label for="confirmPassword">Comfirmed Password</label><br>
        <input type="password" name="confirmPassword" id="confirmPassword"><br>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>